@import "css/reset";
@import "css/styles";


$orange-color: #f39022;
$white-color: white;
$grey-color: #504e4f;
$bg-color: #f6f6f6;


$secondary-color: blue;
$breakpoint-tablet: 768px;

header {
  overflow: hidden;
  position: fixed;
  width: 100%;
}

main {
  padding-top: 527px;
    margin-top: 0;

}
@media all and (min-width: 800px) {
  main {
    padding-top: 170px;
  
  }
}

.header__top{
  font-family: 'Roboto Condensed', sans-serif;
  
  background-color: $orange-color;
  //background: #fdbc9a url('../../public/assets/images/venice-italy.jpg');
  display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0 10vw;
    height: 200px;
    flex-direction: column;

  &__logo {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    width: 90%;
    margin: 0 auto;

    p {
      color: $white-color;
      padding: 0 0 0 10px;
    }
    

  }

  &__links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    width: 90%;

    a {
      color: $white-color;
    }

    &--login {
      padding: 10px 30px 10px 35px;
    color: $grey-color !important;
    background: $white-color;
    border-radius: 5px;
    position: relative;

    }


    
  }
}

@media all and (min-width: 800px) {
  .header__top {
    height: 125px;
    flex-direction: row;

    &__logo {
      width: 50%;
    }

    &__links {
      width: 50%;

    }

  }
}

.header__top__links--login:before {
  content: '';
  background: url('./img/log.png') no-repeat;
  position: absolute;
  background-size: contain;
    display: block;
    top: 10px;
    left: 10px;
    width: 10px;
    height: 13px;
}
.navigation {
  -webkit-flex-flow: column wrap;
  flex-flow: column wrap;
  padding: 0;
  background-color: $white-color;

  li:last-child {
    display: none;
  }

  a {
    text-align: center;
    padding: 10px;
    
    text-decoration: none;
      font-family: 'Roboto Condensed', sans-serif;
      display: block;
      padding: 15px 0;
      color: $grey-color;
      background-color: $white-color;
  }
  li:last-of-type a {
    border-bottom: none;
  }
  a:hover {
    background: #BDBDBD;
  }
}

@media all and (min-width: 800px) {
  .navigation {
    list-style: none;
    margin: 0;
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: space-between;
    padding: 0 10vw;
    height: 45px;
    align-items: center;

    li:last-child {
      display: block;

      input {
        border: white;
    border-bottom: 1px solid black;
      }

      button {
        text-align: left;
        width: 10px;
        margin: 0;
        padding: 14px;
        border: none;
        display: none;
      }
    }
  }
  .search {
    display: inline-block;
  }

  .search:before {
    content: "\f002";
  }
}

.hero-banner {
  background: url('./img/header.png');

  h1 {
    text-align: center;
    color: white;
    padding: 50px 0;
    font-size: 25px;
  }
}

.content {
  font-family: 'Roboto Condensed', sans-serif;
  padding: 5vw 10vw;
  color: $grey-color;
  background-color: $bg-color;
  display: flex;
    flex-direction: column;

    h2 {
      font-size: 25px;
    }

  .orange {
    color: $orange-color;
  }

  .border-top {
    border-top: 1px solid $orange-color;
  }

  .border-bottom {
    border-bottom: 1px solid $orange-color;
  }

  p {
    padding: 10px 0;
    line-height: 20px;
  }

  .content-inner {

    h2 {
      
    }

  }

  .sidebar {
    background-color: $white-color;
    text-align: center;
    padding: 10px;

    img {
      padding: 5px;
    }

  }
}

@media all and (min-width: 800px) {
  .content {
      flex-direction: row;
  
  
    .content-inner {
      width: 80%;
      padding-right: 20px;
  
  
    }
  
    .sidebar {
      width: 20%;
  
    }
  }


}
